html{
    background-image: url("../img/bgsite.jpg");

}

header{
    background-color:rgb(255, 72, 0);
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 230, 217);
    width: 700px;
    left: 25%;

}

.principal{
    background-color: whitesmoke;
    
    width: 700px;
    position: relative;
    left: 25%;
    min-height: 320px;
    max-height: 450px;
}

.fotobenigna{
    padding-top: 40px;
    padding-left: 40px;
    position: static;
}

.bio{
    text-align: justify;
    color: orangered;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 300px;
    padding-right: 40px;
    top: -210px;
    position: relative;
    
}

a{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 0, 255);
}

.navegacao{
    position: relative;
    left: 6%;
    top: -240px;
    width: 190px;
    height: 140px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 0, 255);
    padding-top: 1px;
    padding-left: 10px;

    background-color: rgb(255, 166, 63);

}

.navegacao2{
    position: relative;
    left: 6%;
    top: -590px;
    width: 190px;
    height: 140px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 0, 255);
    padding-top: 1px;
    padding-left: 10px;

    background-color: rgb(255, 166, 63);

}

.navegacao3{
    position: relative;
    left: 6%;
    top: -120px;
    padding-bottom: 10px;    
    width: 190px;
    height: 140px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 0, 255);
    padding-top: 1px;
    padding-left: 10px;

    background-color: rgb(255, 166, 63);

}

.navegacao4{
    position: relative;
    left: 70px;
    top: -170px;
    padding-bottom: 10px;    
    width: 190px;
    height: 140px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 0, 255);
    padding-top: 1px;
    padding-left: 10px;

    background-color: rgb(255, 166, 63);

}

.navegacao5{
    position: relative;
    left: 450px;
    top: -170px;
    padding-bottom: 10px;    
    width: 190px;
    height: 140px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 0, 255);
    padding-top: 1px;
    padding-left: 10px;

    background-color: rgb(255, 166, 63);

}

.titulo{
    text-align: center;
}

.botaocurriculo{
    position: relative;
    top: -330px;
    left: 280px;
}

footer{
    position:relative;
    text-align: center;
    width: 100%;
    background-color: rgba(78, 0, 0, 0.719);
    color: aliceblue;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}



.sobretexto{
    text-align: justify;
    color: orangered;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 300px;
    padding-right: 40px;
    top: -420px;
    position: relative;
    
}


.formacaotexto{
    text-align: justify;
    color: orangered;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    top: 0;
    position: relative;
    
}

.experienciatexto{
    text-align: justify;
    color: orangered;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 40px;
    left: 290px;
    padding-top: 10px;
    top: 0;
    position: relative;
    
}

.fotohobbie1{
    padding-top: 40px;
    padding-left: 40px;
    position: relative;
}


.fotohobbie2{
    position: relative;
    top: -204px;
    left: 260px;
}

.fotohobbie3{
    position: relative;
    top: -408px;
    left: 480px;
}

.horario{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 43%;
    right: 50px;
    top: 60px;
    
}

td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color:rgb(175, 92, 253);
    background-color:white
    
}

th{

    padding-left: 50px;
    padding-right: 50px;
    color: orangered;
    background-color: rgb(255, 215, 159);
    
}

.decor{
    position:relative;
    top: -200px;
    left: 70px;
}

.formulario{
    color: orangered;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 70px;
    top: 40px
}

input, select, textarea{
    width: 300px;
}

textarea{
    height: 100px

}






